/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and general page layout */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Header and Navigation Bar */
header {
    background-color: #333 
    color: #fff;
    padding: 15px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically align items */
}

nav .logo-container img {
    max-height: 50px; /* Adjust logo height */
    max-width: 100%;
}

nav .nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px; /* Adds space between menu items */
}

nav .nav-links li {
    display: inline;
}

nav .nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

/* Hero Section */
#hero {
    background-color: #2a99de; 
    color: #fff; /* White text color */
    text-align: center;
    padding: 50px 20px;
    margin-top: 20px;
}

#hero h1 {
    font-size: 3em;
}

#hero p {
    font-size: 1.2em;
}

/* About Section */
#about {
    padding: 20px;
    background-color: #fff;
    margin-top: 40px;
    border-radius: 5px;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 15px;
    margin-top: 40px;
}
